################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Loans
/Loans/bin/Debug/netcoreapp2.1
/Loans/obj
/Loans.Tests/bin/Debug/netcoreapp2.1
/Loans.Tests/obj
